/* ===== GENERAL ===== */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 120%;
}

/* ===== SKIP LINK ===== */
.skip-link {
  position: absolute;
  left: -999px;
  top: -999px;
}

.skip-link:focus {
  left: 10px;
  top: 10px;
  background: black;
  color: white;
  padding: 10px;
  z-index: 100;
}

/* ===== HEADER & NAV ===== */
header {
  background-color: #ddd;
  padding: 15px;
}

/* COMMENTED OUT FROM HW1 */
/*
li {
  list-style-type: none;
  display: inline;
}
*/

nav {
  display: inline-block;
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

nav a.current {
  text-decoration: underline;
}

/* DESCENDANT SELECTOR */
nav img {
  width: 10%;
  position: relative;
  top: 20px;
}

/* ===== HEADINGS ===== */
h1 {
  text-align: center;
  font-style: italic;
}

/* ===== GRID (NEIGHBORHOOD) ===== */
.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  row-gap: 20px;
}

/* ONLY IMAGES INSIDE GRID */
.grid img {
  width: 100%;
}

/* ===== FLEX (PARKS) ===== */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.flex img {
  width: 300px;
}

/* ===== FOOTER ===== */
footer {
  background-color: #ddd;
  padding: 10px;
}
